.markdown-source-view .cm-editor .cm-scroller {
  font-family: 'Crimson Pro' !important;
}

.view-header-title {
 font-family: "Grenze" !important;
}
.cm-header-1
{
font-family: "Grenze" !important;
}
.cm-header-2
{
font-family: "Grenze"!important;
/* font-weight: Bold; */
}
.cm-header-3
{
font-family: "Crimson Pro"!important;
}
.cm-header-4
{
font-family: "Crimson Pro"!important;
}
.cm-header-5
{
font-family: "Crimson Pro"!important;
}
.cm-header-6
{
font-family: "Crimson Pro"!important;
}
.markdown-preview-view title
{
font-family: Grenze !important;
}
.markdown-preview-view h1
{
font-family: Grenze !important;
}
.markdown-preview-view h2
{
font-family: "Grenze"!important;
}
.markdown-preview-view h3
{
font-family: "Crimson Pro"!important;
}
.markdown-preview-view h4
{
font-family: "Crimson Pro"!important;
}
.markdown-preview-view h5
{
font-family: "Crimson Pro"!important;
}
.markdown-preview-view h6
{
font-family: "Crimson Pro"!important;
}
